* {
    box-sizing: border-box;
}

.calculator {
    width: 500px;
    padding: 20px;
    border: 5px solid black;
    background-color: #0088dd;
    margin: auto;
    text-align: center;
}

.display {  
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    background-color: #9CAF88;
    border: 1px black solid;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
    height: 15vh;
    font-size: 60px;
}

.userInput {
    display: flex;
    flex-wrap: wrap;
}

button {
    width: 25%;
    height: 15vh;
    background-color: white;
    font-weight: 800;
    font-size: 28px;
}

.clear {
    background-color: red;
    color: white;
    width: 75%;
}

.operator {
    background-color: black;
    color: white;
}

.equals {
    width: 50%;
    background-color: black;
    color: white;
}






